<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/about-us.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="ct-pageWrapper" id="ct-js-wrapper">
<section class="company-heading intro-type" id="parallax-one">
   <div class="container">
      <div class="row product-title-info">
         <div class="col-md-12">
            <h1>
               About Us
            </h1>
         </div>
      </div>
   </div>
   <div class="parallax" id="parallax-cta" style="background-image:url(/static/images/hero.jpg);">
      &nbsp;
   </div>
</section>
<section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
   <div class="container text-center">
      <h2>
         TEAM INTRODUCTION
      </h2>
      <div class="col-md-8 col-md-offset-2">
         <div class="red-border">
            &nbsp;
         </div>
         <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">
            <ul>
               <li>SHRESHTH KATYAYAN 22BEY10007</li> <P>- Worked on the backend and ML of the website</P>
               <li>VATSAL SONI 22BEY10128</li> <p>- Worked on the frontend framework of the website</p>
               <li>ANURAG SAHU 22BEY10134</li> <P>- Worked on the design of the website</P>
               <li>ISHAAN MISHRA 22BEY10022</li> <P>- Worked on the presentation of the project</P>
               <li>V. VIJAY 22BEY10012</li> <P>- Worked on the Documentation</P>
           </ul>
         </p>
         <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
   </div>
</section>

<section class="customers-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
<div class="container">
   <div class="col-md-8 col-md-offset-2">
      <h2>
         CUSTOMERS
      </h2>
      <h3>
         Trusted by some of the world&rsquo;s leading brands.
      </h3>
   </div>
   <div class="clearfix">
      &nbsp;
   </div>
</div>
</header>
<main>
   <div class="container ct-u-paddingTop40 ct-u-paddingBottom100">
      <div class="row">
         <div class="col-md-12 ct-content">
            <section class="clients-home">
               <div class="container">
                  <div class="clients-logos text-center">
                     <!-- starting row div -->
                     <div class="row">
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/zeina.html" class="Zeina"><img alt="images/logo-zeina.png" src="/static/images/logo-zeina.png"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Zeina - 0
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/logic.html" class="Logic"><img alt="images/logic.png" src="/static/images/logic.png"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Logic
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/smart.html" class="Smart"><img alt="images/client3.png" src="/static/images/client3.png"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Smart 
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/softtech.html" class="Softtech"><img alt="images/softtech.png" src="/static/images/softtech.png"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Softtech 
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/wheel.html" class="Wheel"><img alt="images/logo-target.png" src="/static/images/logo-target.png"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Wheel 
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/3designs.html" class="3designs"><img alt="images/designx.png" src="/static/images/designx.png"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    3designs 
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/heart.html" class="Heart"><img alt="images/client7.png" src="/static/images/client7.png"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Heart
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/devtech.html" class="Devtech"><img alt="images/devtech.png" src="/static/images/devtech.png"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Devtech 
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/chartz.html" class="Chartz"><img alt="images/chartz.png" src="/static/images/chartz.png"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Chartz 
                                 </div>
                              </div>"images/devtech.png"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Devtech 
                           </div>
                        </div>
                     </div>
                     <!-- closing row div -->
                  </div>
               </div>
            </section>
         </div>
      </div>
   </div>
</main>
